body {
  color: #1b1c25;
  background-color: #f9f9f9;
  text-align: center;
}

form{
  margin: 3rem;
}

h1 {
  margin-top: 1.5rem;
}

.form-div {
  max-width: 50%;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.custom-switch {
  margin: .5rem 0;
}

.btn {
  margin-top: 1.5rem;
  color:#007bff;
  border: 1px solid;
}

.btn:hover {
  color: #f9f9f9;
  background-color: #007bff;
}

.password {
  color: #75daad;
  margin: 3rem auto 0;
  max-width: 75%;
  word-wrap: break-word;
}

.custom-range {
  max-width: 75%;
}

.length-label {
  display: block;
}

.length-input {
  width: 25%;
  margin-bottom: 1.5rem;
}
